*{
    text-decoration: none;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #1a1a29;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: #181824;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.title a{
    font-size: 28px;
    color: #7562e0;
    font-weight: 750;
}

.navbar li{
    list-style-type: none;
    display: inline;
}

.navbar li a{
    color: white; 
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

#NavHome{
    color: #7562e0;
}

.Home{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

p{
    display: block;
    padding: 0%;
    margin: 0%;
}

.Bio{
    max-width: 23%;
    text-align: justify;
    margin-top: 15%;
}

.Image{
    max-width: 30%;
    padding-top: 10%;
    margin-left: 40%;
}

.Buttons{
    display: flex;
}

.Buttons button{
    margin-top: 32px;
    height: 48px;
    width: 160px;
    border-radius: 15px;
    cursor: pointer;
}

.Button{
    display: flex;
}

.BT{
    display: inline;
    padding-right: 10px;
}

.BProject{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7562e0;
    border: 1px solid #7562e0;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

hr{
    margin-top: 10%;
    border: 70px solid #181824;
}

h1{
    color: #7562e0;
    font-weight: 600;
    font-size: 36px;
    padding-top: 30px;
}

.Project{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 120px;
}

.Projects{
    display: flex;
    justify-content: center;
    gap:10%;
}

.PBox{
    width: 385px;
    height: 500px;
    border: 2px solid #6959c9;
    border-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    transition: 0.3s ease;
}

.PBox:hover {
    border-color: white;
}

.PIcon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.PTitleDiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.PTitle{
    font-size: 2rem;
    color: white;
    transition: 0.3s ease;
}

.PBox:hover .PTitle {
    color: #6959c9;
}

.Contact{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
    padding-bottom: 200px;
    justify-content: space-between;
}

#mbr {
    display: none;
}

.Ctext p{
    font-size: 20px;
    font-weight: 700;
}

.links{
    padding-top: 30px;
}

.links img{
    height: 30px;
    padding-left: 8px;
    padding-right: 8px;
}

.Cform{
    padding-right: 15%;
    width: 45%;
}

.Cform p{
    padding-top: 60px;
    font-size: 30px;
    font-weight: 600;
}

.Cform input{
    display: block;
    height: 64px;
    width: 100%;
    border: 1px solid #32323f;
    border-radius: 10px;
    background-color: #32323f;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 15px;
    font-size: 18px;
    color: white;
}

#message{
    display: block;
    height: 100px;
    width: 100%;
    border: 1px solid #32323f;
    border-radius: 10px;
    background-color: #32323f;
    margin-top: 25px;
    padding-top: 10px;
    margin-bottom: 25px;
    padding-left: 15px;
    font-size: 18px;
    color: white;
}

#send{
    height: 60px;
    width: 200px;
    background-color: #7562e0;
    border: 1px solid #7562e0;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.Footer{
    padding-left: 10%;
    padding-right: 10%;
    color: #8d8d94;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 40px;
}

.Flinks{
    padding-top: 15px;
}

.Flinks img{
    height: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 1200px) {
    .Image {
        display: none;
    }

    .Projects {
        flex-direction: column;
    }

    .PBox {
        width:100%
    }

    .Cform {
        padding-right: 0px;
    }

    .Bio {
        width: 100%;
        max-width: none;
    }
}

@media (max-width: 1024px) {
    #mbr {
        display: inline;
    }
}